@import "tailwindcss";

@font-face {
  font-family: "Switzer";
  src: url("/fonts/Switzer.woff2") format("woff2");
  font-style: swap;
}

@font-face {
  font-family: "Gang of Three";
  src: url("/fonts/go3v2.woff2") format("woff2");
  font-style: swap;
}

@layer utilities {
  .h-screen-fixed {
    height: calc(var(--vh, 1vh) * 100);
  }
}

.hero-image {
  background: url("./assets/background.webp") no-repeat center center/cover;
}

.about-lantern {
  background: url("./assets/lantern.webp") no-repeat center center/cover;
}

.manchurian {
  background: url("./assets/manchurian-2.webp") no-repeat center center/cover;
}

.noodles {
  background: url("./assets/noodles.webp") no-repeat center center/cover;
}

.paneer-chilli {
  background: url("./assets/paneer-chilli-2.webp") no-repeat center center/cover;
}

.fried-rice {
  background: url("./assets/fried-rice-1.jpg") no-repeat center center/cover;
}

.hero-text {
  word-spacing: 3px;
}

@theme {
  --font-switzer: "Switzer";
  --font-gang-of-three: "Gang of Three";

  --color-mint-cream: #eff6ee;
  --color-safety-orange: #ec7505;
  --color-carrot-orange: #e89005;
  --color-chilli-red: #e70e02;
  --color-chocolate-cosmos: #4f000b;

  --breakpoint-*: initial;
  --breakpoint-mobile-s: 320px;
  --breakpoint-mobile-m: 375px;
  --breakpoint-mobile-l: 425px;
  --breakpoint-tablet: 768px;
  --breakpoint-laptop: 1024px;
  --breakpoint-laptop-l: 1440px;
  --breakpoint-laptop-4k: 2560px;
}
